---
---

@import "{{ site.theme }}";

.wrapper {
  width:1150px;
  margin:0 auto;
}

header p {
  width: 1000px !important;
  text-align: center !important;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center !important;
}