---
---

@import "{{ site.theme }}";

.wrapper {
  width: 1050px !important;
  margin:0 auto;
}

header p {
  width: 850px !important;
  text-align: center !important;
}

h1,h2,h3,h4,h5,h6 {
  text-align: center !important;
  color: black !important;
}

img {
  max-width: 100%; /* ensures the image is never larger than its container */
  height: auto; /* maintains the aspect ratio */
  display: block; /* removes extra space below the image */
  margin: 0 auto; /* centers the image horizontally */
}

html, body {
  background-color: #ffffff !important;
}
